{% extends 'base.html' %}

{% block title %}{{ book.name }}{% endblock %}

{% block content %}
<h1>{{ book.name }}</h1>
<p><strong>Author:</strong> {{ book.author }}</p>
<p><strong>Published Date:</strong> {{ book.published }}</p>
<p><strong>Summary:</strong> {{ book.summary }}</p>

<h3>Borrowing Information</h3>
{% if book.is_available %}
    <p class="text-success">This book is available for borrowing.</p>
    <a href="{% url 'borrows:borrow_book' book.id %}" class="btn btn-primary">Borrow this Book</a>
{% else %}
    <p class="text-danger">This book is currently borrowed by {{ current_borrower }} .</p>
{% endif %}
{% endblock %}
